### Factorial with Recursion

In [24]:
def factorial(n):
    print("factorial has been called with n = " + str(n))
    if n == 1:
        return 1
    else:
        res = n * factorial(n-1)
        print("result for ", n, " * factorial(" ,n-1, "): ",res)
        return res

print(factorial(10))

factorial has been called with n = 10
factorial has been called with n = 9
factorial has been called with n = 8
factorial has been called with n = 7
factorial has been called with n = 6
factorial has been called with n = 5
factorial has been called with n = 4
factorial has been called with n = 3
factorial has been called with n = 2
factorial has been called with n = 1
result for  2  * factorial( 1 ):  2
result for  3  * factorial( 2 ):  6
result for  4  * factorial( 3 ):  24
result for  5  * factorial( 4 ):  120
result for  6  * factorial( 5 ):  720
result for  7  * factorial( 6 ):  5040
result for  8  * factorial( 7 ):  40320
result for  9  * factorial( 8 ):  362880
result for  10  * factorial( 9 ):  3628800
3628800

In [18]:
def factorial(n):
    if n==1:
        return 1
    else:
        res=n*factorial(n-1)
        return res
print(factorial (6))

720

### Iterations or Loops

In [25]:
range(5) # 0,1,2,3,4

range(0, 5)

In [26]:
range(1,5) #1,2,3,4

range(1, 5)

### 1. For Loop

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
s="hello"

In [30]:
for i in s:
    print(i)

h
e
l
l
o

In [36]:
# Print "hello" in sngle line saperated by "comma"
for i in s:
    print(i,end=",")

h,e,l,l,o,

In [37]:
for i in s:
    print(i,sep=",")

h
e
l
l
o

In [39]:
s1="s,o,n,u"
for i in s1:
    print(i,sep=",")

s
,
o
,
n
,
u

In [40]:
s1="s,o,n,u"
for i in s1:
    print(i,end=",")

s,,,o,,,n,,,u,

In [42]:
print(45,55,sep=",")
print(45,55)
print(45,55,end=",")

45,55
45 55
45 55,

In [47]:
for i in range(1,11):
    if i%2 == 0:
        print(i,end=" ")

2 4 6 8 10

In [53]:
# Without using if condition
for i in range(2,11,2):
    #if i%2 == 0:
        print(i,end=" ")

1 3 5 7 9

In [56]:
for i ifor i in range(7,1000,7):
    if i%2 == 0:
        print(i,end=" , ")n range(1,11,2):
   # if i%2 == 0:
        print(i,end=" ")

1 3 5 7 9

In [57]:
for i in range(1,11,1):
   # if i%2 == 0:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [64]:
for i in range(7,1000,7):
    #if i%2 == 0:
        print(i,end=" , ")

7 , 14 , 21 , 28 , 35 , 42 , 49 , 56 , 63 , 70 , 77 , 84 , 91 , 98 , 105 , 112 , 119 , 126 , 133 , 140 , 147 , 154 , 161 , 168 , 175 , 182 , 189 , 196 , 203 , 210 , 217 , 224 , 231 , 238 , 245 , 252 , 259 , 266 , 273 , 280 , 287 , 294 , 301 , 308 , 315 , 322 , 329 , 336 , 343 , 350 , 357 , 364 , 371 , 378 , 385 , 392 , 399 , 406 , 413 , 420 , 427 , 434 , 441 , 448 , 455 , 462 , 469 , 476 , 483 , 490 , 497 , 504 , 511 , 518 , 525 , 532 , 539 , 546 , 553 , 560 , 567 , 574 , 581 , 588 , 595 , 602 , 609 , 616 , 623 , 630 , 637 , 644 , 651 , 658 , 665 , 672 , 679 , 686 , 693 , 700 , 707 , 714 , 721 , 728 , 735 , 742 , 749 , 756 , 763 , 770 , 777 , 784 , 791 , 798 , 805 , 812 , 819 , 826 , 833 , 840 , 847 , 854 , 861 , 868 , 875 , 882 , 889 , 896 , 903 , 910 , 917 , 924 , 931 , 938 , 945 , 952 , 959 , 966 , 973 , 980 , 987 , 994 ,

In [65]:
for i in range(7,1000,7):
    if i%2 == 0:
        print(i,end=" , ")

14 , 28 , 42 , 56 , 70 , 84 , 98 , 112 , 126 , 140 , 154 , 168 , 182 , 196 , 210 , 224 , 238 , 252 , 266 , 280 , 294 , 308 , 322 , 336 , 350 , 364 , 378 , 392 , 406 , 420 , 434 , 448 , 462 , 476 , 490 , 504 , 518 , 532 , 546 , 560 , 574 , 588 , 602 , 616 , 630 , 644 , 658 , 672 , 686 , 700 , 714 , 728 , 742 , 756 , 770 , 784 , 798 , 812 , 826 , 840 , 854 , 868 , 882 , 896 , 910 , 924 , 938 , 952 , 966 , 980 , 994 ,

In [71]:
for i in range(994,6,-7):
    if i%2 == 0:
        print(i,end=" , ")

994 , 980 , 966 , 952 , 938 , 924 , 910 , 896 , 882 , 868 , 854 , 840 , 826 , 812 , 798 , 784 , 770 , 756 , 742 , 728 , 714 , 700 , 686 , 672 , 658 , 644 , 630 , 616 , 602 , 588 , 574 , 560 , 546 , 532 , 518 , 504 , 490 , 476 , 462 , 448 , 434 , 420 , 406 , 392 , 378 , 364 , 350 , 336 , 322 , 308 , 294 , 280 , 266 , 252 , 238 , 224 , 210 , 196 , 182 , 168 , 154 , 140 , 126 , 112 , 98 , 84 , 70 , 56 , 42 , 28 , 14 ,

In [72]:
for i in range(50,100,2):
    #if i%2 == 0:
        print(i,end=" , ")

50 , 52 , 54 , 56 , 58 , 60 , 62 , 64 , 66 , 68 , 70 , 72 , 74 , 76 , 78 , 80 , 82 , 84 , 86 , 88 , 90 , 92 , 94 , 96 , 98 ,

In [74]:
for i in range(98,49,-2):
    #if i%2 == 0:
        print(i,end=" , ")

98 , 96 , 94 , 92 , 90 , 88 , 86 , 84 , 82 , 80 , 78 , 76 , 74 , 72 , 70 , 68 , 66 , 64 , 62 , 60 , 58 , 56 , 54 , 52 , 50 ,

### 2.While Loop

In [2]:
i=1
while i<=10 :
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [3]:
i=3
while (i<=100) :
## if i%3==0:
        print(i,end=",")
        i=i+1

3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [5]:
i=100
while (i>=3) :
## if i%3==0:
        print(i,end=",")
        i=i-3

100,97,94,91,88,85,82,79,76,73,70,67,64,61,58,55,52,49,46,43,40,37,34,31,28,25,22,19,16,13,10,7,4,

In [14]:
s="Sonu"
i=0
while(i<len(s)):
    print(s[i])
    i=i+1

S
o
n
u

In [2]:
### Function to print n natural numbers using for loop
n=int(input("enter value for n:"))
def natural(n):
    for i in range(0,n+1):
        print(i,end=",")
natural(n)

enter value for n:100
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [3]:
#Fnction to print the alternate values in a given range in the same line
#range(500,550)---->500,502,504....548
#Starts with inclusive and ends with exclusive
def alternate(start,end):
    for i in range(start,end+1,2):
        print(i,end=",")
alternate(500,550)

500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,

# TASKS :

In [ ]:
# 1.Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”.
i=1
while (i<=50) :
    if i%3==0:
        print("Fizz")
        if i%5==0:
            print("buzz")
            if i%3 ==0 and i%5==0 :
                print("FizzBuzz")
        i=i+1

In [ ]:
# 2.Program to print the multiplication table from range between 10 to 20 (Ex: 3 x 10 = 30….)
i=1
while(i<10):
    print(10,'x',i,'=',10*i)

In [ ]:
# Tasks in While Loop
# 1.Print n Natural Numbers using while loop
def natural(n):
    #n=int(input("enter value for n:"):
          i=1
          while(0<=n+1):
                print(i,end=",")
natural(10)

In [ ]:
# Program to print n number of iterations using while loop with if statement
#ex: a=1 and b=1 b==4 loop terminated